body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 16%, 94%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
/* custom font tpo be added */

  }
  

  .resume{
    position: absolute;
    height: 1080px;
    width: 822px;
    left: 1098px;
    top: 0px;
    background-color: #FFFFFF;
  }
 
  .btn-add{
    position: absolute;
    height: 48px;
    width: 289px;
    left: 149px;
    top: 866px;
    border-radius: 4px;
    background: #62A1EB;
    border: none;
    font-family: Helvetica Neue;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
    padding: 14px 21px;
    cursor: pointer;
  }
  .btn-next{
    position: absolute;
    border: none;
    height: 48px;
    width: 151px;
    left: 797px;
    top: 967px;
    border-radius: 4px;
    padding: auto 60px auto 60px;
    background: #6B40E3;
    color: #FFFFFF;
    cursor: pointer;
  }
  .btn-back{
    position: absolute;
    border: none;
    height: 48px;
    width: 113px;
    left: 150px;
    top: 967px;
    border-radius: 4px;
    background: #6B40E3;
    color: #FFFFFF;
    cursor: pointer;

  }

