body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-page{
  margin: 0px;
  padding: 0px;
  height: 1080px;
  width: 1920px;
 }
.redberry-logo{
  position: absolute;
  top: 70px;
  left: 25px;
  top: 25px;
  left: 70px;
  width: 236px;
  height: 38px;
}

.home-button{
  color: #FFFFFF;
  font-size: 20px;
  width: 464px;
  height: 60px;  
  border-radius: 8px;
  background-color: #1A1A1A;
  position: absolute;
  top: 513px;
  left: 728px;
  cursor: pointer;
}
.home-page-logo{
  width: 299px;
  height: 299px;
  position: absolute;
  top: 473px;
  left: 1076px;
}
.line{
  width: 1780px;
  background-color: #1A1A1A;
  height: 1px;
  position: absolute;
  top: 89px;
  left: 70px;
}